#principal {
    position: relative;
}

.menu {
    border: none;
    background-color: rgb(18, 82, 138);
    padding: 15px;
    margin-top: 0px;
    text-align: center;
}

.clear {
    clear: both;
}

.conteudo {
    clear: both;
    border: 2px solid red;
    position: absolute;
    top: 50px;
}


a:link {
    color: cornflowerblue;
    text-decoration: none;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    color: green;
    background-color: rgb(147, 194, 196);
    padding: 10px;
}

a:active {
    color: black;
}

span {
    padding: 10px;
}